<!-- creo una vista noEntry.ejs para mostrar que el usuario no tiene acceso utilizando un video y css de bootstrap -->

<%-include("./partials/head") %> 
<body>
	<%-include("./partials/header") %> 
	<h1></h1>
	<div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <video muted autoplay loop width="100%" src="/videos/Un video de 10 segundos.mp4"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<%-include("./partials/footer") %>
</body>
</html>